absl-py==0.1.13
alabaster==0.7.11
allennlp==0.5.1
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
awscli==1.15.41
Babel==2.6.0
bleach==1.5.0
botocore==1.10.41
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
conllu==0.9
cookies==2.2.1
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
docutils==0.14
editdistance==0.4
flaky==3.4.0
Flask==0.12.1
Flask-Cors==3.0.3
gast==0.2.0
gevent==1.2.2
greenlet==0.4.13
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
idna==2.7
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.2.0
Markdown==2.6.11
MarkupSafe==1.0
more-itertools==4.2.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nltk==3.4.5
numpy==1.14.2
numpydoc==0.8.0
overrides==1.9
packaging==17.1
pathlib==1.0.1
plac==0.9.6
pluggy==0.6.0
preshed==1.0.0
protobuf==3.5.2.post1
psycopg2==2.7.5
py==1.5.3
pyasn1==0.4.3
pycparser==2.18
Pygments==2.2.0
pyhocon==0.3.35
pyparsing==2.2.0
pytest==3.6.2
python-dateutil==2.7.3
pytz==2017.3
PyYAML==3.12
regex==2017.4.5
requests==2.19.1
responses==0.9.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
snowballstemmer==1.2.1
spacy==2.0.11
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
tensorboard==1.8.0
tensorboardX==1.2
tensorflow==1.8.0
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
torch==0.4.0
tqdm==4.23.4
typing==3.6.4
ujson==1.35
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
